<!DOCTYPE html>
<html>
<head>
  <title>Student Sign In</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <h2>Enter Student Details</h2>
  <form action="/signin" method="POST">
    <input type="text" name="name" placeholder="Name" required /><br />
    <input type="number" name="age" placeholder="Age" required /><br />
    <input type="email" name="email" placeholder="Email" required /><br />
    <input type="text" name="class" placeholder="Class" required /><br />
    <input type="text" name="rollnumber" placeholder="Roll Number" required /><br />
    <input type="text" name="semester" placeholder="Semester" required /><br />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
